/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Open+Sans:wght@400;700&family=Work+Sans:wght@400;700&display=swap');

/* common styles or Utitlities */
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans','Poppins', sans-serif;
    background-color: #ffffff;
}

a{
    text-decoration: none;
}

.container{
    
    /* width: 870px; */
    padding: 33px 220px 42px;

}

.primary-title{
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 24px;
}

.secondary-text{
    color: #727272;
    line-height: 26px;
    margin-bottom: 30px;
}

.btn-primary{
    color: #FFFFFF;
    padding: 20px 25px;
    background: #FF900E;
    border-radius: 8px;
    border: 0;
    font-size: 20px;
    font-weight: 600;
}

/*---------------- 
Header or Navbar 
-----------------*/
.company-logo{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.menu{
    display: flex;
}
.menu li{
    list-style-type: none;
    margin-left: 20px;
}


/* Hero Part */

header{
    background-color: rgba(255, 144, 14, 0.1);
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hero-text{
    text-align: center;
    /* margin-top: 100px; */
    margin-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.hero-title{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}

.hero-banner img{
    width: 100%;
}




/* Teams & Quick Feature */

.teams-and-feature{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 70px;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    margin-bottom: 100px;
}

.teams{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;

}

.team img{
    width: 100%;
}

/* Feature & Architect styles */

.features-and-architect{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    align-items: start;
    margin-bottom: 100px;
}
.features-info h3{
    padding-left: 20px;
    border-left: 3px solid #FF900E;
}

.feature{
    padding: 30px 30px 2px 30px;
    border-radius: 5px;
    box-shadow:  0px 8px 24px rgba(149, 157, 165, 0.2);
    margin-bottom: 20px;
}
.feature-title{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.architect img{
    width: 100%;
}


/* ----------------------
Some Facts section Style 
------------------------*/
.facts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 125px;
}

.fact{
    border: 1px solid orange;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}


/* Sponsors Styels */

.sponsors-section{
    margin-top: 100px;
    padding: 10px;
    /* display: flex;
    flex-direction: column; */
}

.sponsor-info{
    margin-bottom: 50px;
    text-align: center;
}

.sponsor-info h2, .quick-feature-title{
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 24px;
}

.logos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 125px;
}

.logo{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.logo img{
    width: 100%;
}
